:root {
    --chat-background: rgba(15, 15, 15, 0.3);
    --chat-shadow: rgb(2, 4, 24);
    --chat-border: rgba(15, 15, 15, 0.5);
    --chat-border-hover: rgba(255, 0, 238, 0.5)
}

#chatbox-widget {
    top: 400px;
    height: 404px;
    width: 554px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#chatbox-widget .reference-div {
    height: 400px;
    width: 550px;
    position: relative;
    
    overflow: hidden;
}

#chatbox-widget iframe {
    height: 400px;
    width: 550px;
    position: absolute;
}

#chatbox-widget #front-div-chatbox {
    height: 400px;
    width: 550px;
    position: absolute;
    opacity: 0;
}

#chatbox-widget #front-div-chatbox:hover {
    border: 2px solid var(--chat-border-hover);
    opacity: 1;
    text-align: center;
    font-size: 40px;
    color: var(--chat-border-hover);
}
